<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-content class="padding">
    <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->
    <br><br>
    <h1 style="text-align:center;color:#264F94">
      {{ item.value }}
    </h1>
    <br><br><br><br><br>
    <center>
      <i style="cursor:pointer;font-size:250%;color:#264F94" class="icon ion-edit" ng-click="update()"></i>
    </center>
  </ion-content>
</ion-view>
